.Card{
    width: 330px;
    height: 330px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid rgb(243, 242, 242);
    background-color: white;
}
.image {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
 .card_button{
   text-align: center;
   background-color: rgb(217, 217, 220);
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
   color: #fff;
   border-color: rgba(92, 116, 255, 0.822);

 }
