.Card{
    width: 350px;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border: 2px solid rgb(243, 242, 242);
}
.img1 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
.img2 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
.img3 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
.img4 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
.img5 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
.img6 {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
/* p{
  margin-left: 0px;
} */
 .btn{
   text-align: center;
   background-color: rgb(217, 217, 220);
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
   color: #fff;
   border-color: rgba(92, 116, 255, 0.822);

 }
