.Card{
    width: 350px;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 2px solid rgb(243, 242, 242);
    background-color: white;
}

.image {
  padding-left: 30px;
  width: "200px";
  height: 200px;
}
/* p{
  margin-left: 0px;
} */
 .card_button{
   text-align: center;
   background-color: rgb(217, 217, 220);
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
   color: #fff;
   border-color: rgba(92, 116, 255, 0.822);

 }
