/* #form1{
    margin-left: 300px;
    margin-top: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);    
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    display: grid;
    justify-content: center; 
    grid-template-columns: 250px 250px ;
    grid-template-rows:  100px 100px ;
} */

.Form1{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
 .ContactUs{
     text-align: center;
 }