.Store {
  display: flex;
  justify-content: center;
}

.Store input {
  width: 350px;
  height: 35px;
  margin-top: 20px;
  border-radius: 50px;
  border-color: rgba(223, 222, 222, 0.822);
}
.Store label {
  margin-top: 30px;
  margin-right: 20px;
  font-size: 20px;
}
.Store button {
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgba(92, 255, 198, 0.822);
  background-color: rgb(187, 179, 179);
}

.Card{
   display: grid; 
  grid-template-columns: 400px 400px 400px;
  /*grid-template-rows: 350px 350px 350px; */ 
}
