.storeDiv {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 229, 229);
  padding-bottom: 30px;
  padding-top: 20px;
}
.siteInput {
  width: 350px;
  height: 35px;
  margin-top: 80px;
  border-radius: 50px;
  border-color: rgba(223, 222, 222, 0.822);
}
.siteLabel {
  margin-top: 80px;
  margin-right: 20px;
  font-size: 20px;
}
.storeButton {
  margin-left: 25px;
  margin-top: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgba(92, 255, 198, 0.822);
  background-color: rgb(187, 179, 179);
}
.Card{
   display: grid; 
   justify-content: center;
   grid-template-columns: 350px 350px 350px;
   background-color: rgb(230, 229, 229);
}
@media only screen and (max-width: 800px){
  .Card{
    justify-content: center;
    grid-template-columns: 400px;
}
  }

